{% extends "template.html" %}
{% block title %}d'accueil{% endblock %}
{% block content %}Accueil
<div class="container">
    <h2>Liste des Alias</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Alias</th>
                <th scope="col">Adresse IP</th>
                <th scope="col">Port</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>WebServer_1_80</td>
                <td>10.1.1.0</td>
                <td>80</td>
            </tr>
          
        </tbody>
    </table>
</div>
{% endblock %}