{% extends "template.html" %}
{% block title %}d'accueil{% endblock %}
{% block content %}Accueil
<div class="container">
    <h2>Ajouter une règle NAT</h2>
    <form>
        <div class="form-group">
            <label for="alias">Alias :</label>
            <input type="text" class="form-control" id="alias" placeholder="Entrez l'alias">
        </div>
        <div class="form-group">
            <label for="ip_address">Adresse IP :</label>
            <input type="text" class="form-control" id="ip_address" placeholder="Entrez l'adresse IP">
        </div>
        <div class="form-group">
            <label for="port">Port :</label>
            <input type="text" class="form-control" id="port" placeholder="Entrez le port">
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>
{% endblock %}