{% extends "template.html" %}
{% block title %}d'accueil{% endblock %}
{% block content %}Accueil
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur notre site</h1>
        <p class="lead">Ceci est un exemple de page d'accueil avec Bootstrap.</p>
        <hr class="my-4">
        <p>Vous pouvez commencer à explorer les fonctionnalités de notre site en utilisant le menu de navigation ci-dessus.</p>
        <a class="btn btn-primary btn-lg" href="/rules_filter" role="button">Voir les règles de filtrage</a>
    </div>
</div>
{% endblock %}