<!DOCTYPE html>
    <html>

        <head>
          {%block head %}
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Iptable - {% block title %}{% endblock %}</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
          {% endblock %}
         </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Accueil</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/rules_filter">Rules Filter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/rules_nat">Rules NAT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/rules_nat_add">Add NAT Rule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/alias">Alias</a>
                        </li>
                    </ul>
                </div>
            </nav>
           <div id="content">{% block content %} {% endblock %}</div>
           <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
           <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
           <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        </body>
     </html>
</html>
          
  